.laskuyritykselle_info {
  background: #ffffff;
  color: #000000;
  padding: 1em;
  border-width: 1px;
  border-color: #ff7477;
  border-style: solid;
}

.laskuyritykselle_info p {
  margin-top: 1em;
}

.laskuyritykselle_info p a {
  color: #000000;
  text-decoration: underline;
}
